/vendor
.phpunit.result.cache
.buildpath
.project
.settings
.idea
.vscode
*.pas
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
*.code-workspace

_ide_helper*
/nbproject/private/
/.php_cs.cache
/nbproject/